<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yougen.base.template.system.system.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yougen.base.template.system.system.bean.SysDept">
        <id column="dept_id" property="deptId" />
        <result column="pid" property="pid" />
        <result column="sub_count" property="subCount" />
        <result column="name" property="name" />
        <result column="dept_sort" property="deptSort" />
        <result column="enabled" property="enabled" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, pid, sub_count, name, dept_sort, enabled, create_by, update_by, create_time, update_time
    </sql>

</mapper>
